:root {
    --bg-color: #e8d5da;
    --inverted-bg-color: #0e0e75;
    --primary-color: #ad022f;
    --secondary-color: #0c2eda;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
}
